// COLORS
$brightYellow: #FF9F1C;
$topaz: #FFBF69;
$white: #ffffff;
$aeroBlue: #CBF3F0;
$maxBlueGreen: #2EC4B6;
// FONTS
$bungee: 'Bungee Hairline', cursive;

.eggs-show-container {
    font-family: $bungee;
    font-size: 1.6rem;
    background: $maxBlueGreen;
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    color: white;
    font-weight: 900;
    position: relative;
    padding: 4%;
    top: -10vh;
    border: 2px solid $brightYellow;
    text-align: center;

    @include media(mobile) {
      background: $brightYellow;

    }
    .current {
      margin: 2% 2%;
      .submit-btn {
        position: absolute;
        top: 36vh;
        margin: 0 auto;
        position: absolute;
        top: 35vh;
        left: 40vw;
      }


    }
}

input{
  width: 20vw;
  background: $aeroBlue;
  color: $maxBlueGreen;
  outline-color: $brightYellow;
}
.enter-egg-number {
  display: flex;
  height: 2vh;
  flex-direction: column;
  padding: 1%;
  margin: 1% 6%;
  font-size: 1.25rem;
  text-align: center;
  height: 6vh;
  position: absolute;
  top: 17vh;
  left: 4%;}
.enter-egg-number-input{
  position: absolute;
  width: 20vw;
  background: #CBF3F0;
  color: #2EC4B6;
  outline-color: #FF9F1C;
  top: 26vh;
  line-height: 2rem;
  left: 44%;
}
.submit-btn
{
  margin: 1%;
  padding: 1% 0;
  font-family: "Rubik",sans-serif;
  font-size: 15px;
  display: block;
  height: 45px;
  float: right;
  width: 80px;
  border: 3px solid $brightYellow;
  overflow: hidden;
  background: $topaz;
  text-decoration: none;
  color: black;
  line-height: 15px;
  transition: all .3s ease;
  text-align: center;
  &:hover
  {
    cursor: pointer;
    border-radius: 20px;
    outline: $maxBlueGreen;
  }
}
.bouncing-egg{
  position: absolute;
  top: 43vh;
  left: 48%;}
.tan-egg {
  height: 24vh;
  width: auto;
  position: absolute;
  bottom: -0vh;
  left: -138px;
  transition: all 0.1s ease-in-out;
  &.active {
    animation: dance 2s ease;
  }
}
@keyframes dance {
  10% {
    left: 0px;
    bottom: 30vh;
    transform: rotateZ(30deg);
  }
  20% {
    left: 200px;
    bottom: 20vh;
    transform: rotateZ(-30deg);
  }
  30% {
    left: 300px;
    bottom: 36vh;
    transform: rotateZ(15deg);
  }
  40% {
    left: 400px;
    bottom: 24vh;
    transform: rotateZ(-15deg);
  }
  50% {
    left: 500px;
    bottom: 20vh;
    transform: rotateZ(30deg);
  }
  60% {
    left: 600px;
    bottom: 15vh;
    transform: rotateZ(-30deg);
  }
  70% {
    left: 700px;
    bottom: 24vh;
    transform: rotateZ(45deg);
  }
  80% {
    left: 800px;
    bottom: 38vh;
    transform: rotateZ(-45deg);
  }
  90% {
    left: 900px;
    bottom: 30vh;
    transform: rotateZ(30deg);
  }
  100% {
    left: 1100px;
    bottom: 20vh;
    transform: rotateZ(-30deg);
  }

}
