header {
    height: 100px;
    @include media(tablet) {
        height: 80px;
    }
    @include media(tabletSmall) {
        height: 65px;
    }

    @include media(mobileLarge) {
        height: 75px;
    }

    .chicken-logo {
        height: 100px;
        margin-top: 5px;
        float: left;
        margin-left: 20px;
        transition: all 1s ease;
        @include media(tablet) {
            height: 80px;
        }
        @include media(tabletSmall) {
            margin-left: 5px;
            margin-top: 0;
        }
        @include media(mobileLarge) {
            height: 65px;
            margin-top: 10px;
        }
    }

    h1 {
        font-family: $bungee;
        font-size: 60px;
        font-weight: 900;
        float: left;
        margin: 20px 0 0 20px;
        @include media(tablet) {
            font-size: 40px;
        }
        @include media(mobileLarge) {
            font-size: 30px;
            margin-left: 10px;
            margin-top: 25px;
        }
    }

    .register {
        margin: 27.5px 50px 0 0;
        @include media(tabletSmall) {
            margin-right: 20px;
        }
        @include media(mobileLarge) {
            float: none;
        }
    }

    .login {
        margin: 27.5px 20px 0 0;
    }

    .button {
        font-family: $rubik;
        font-size: 15px;
        display: block;
        height: 45px;
        float: right;
        width: 80px;
        border: 3px solid $brightYellow;
        overflow: hidden;
        background: $topaz;
        text-decoration: none;
        color: black;
        line-height: 45px;
        transition: all 0.3s ease;
        text-align: center;
        @include media(tablet) {
            margin-top: 17.5px;
        }
        @include media(mobileLarge) {
            margin-bottom: 20px;
        }

        &:hover {
            cursor: pointer;
            border-radius: 20px;
        }
    }
}
