.modal {
  background: $white;
  width: 40%;
  border: 5px solid $topaz;
  border-radius: 5px;
  position: fixed;
  top: 137px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s ease;

  @include media(desktopMid) {
    width: 50%;
  }
  @include media(desktop) {
    width: 60%;
  }
  @include media(tablet) {
    width: 75%;
  }
  @include media(tabletSmall) {
    width: 85%;
  }

  @include media(mobileLarge) {
    width: 80%;
  }
  .modal-content {
    font-family: $rubik;
    height: 100%;

    img {
      height: 40px;
      margin-bottom: -10px;

      @include media(mobile) {
        height: 30px;
        margin-bottom: -5px;
      }
    }

    h3 {
      display: inline;
      font-size: 28px;
      margin-left: 5%;
      line-height: 40px;
      letter-spacing: .1em;

      @include media(mobileLarge) {
        font-size: 18px;
      }
    }

    .close {
      float: right;
      width: 20px;
      font-size: 22px;
      margin: 5px;

      &:hover {
        color: #333;
      }
    }

    .submit {
      width: 80%;
      background: $brightYellow;
      border: none;
      color: $white;
      height: 50px;
      font-size: 25px;
      margin: 30px 0 10px 50%;
      border-radius: 5px;
      transform: translateX(-50%);
      letter-spacing: .1em;

      @include media(mobile) {
        margin-top: 10px;
      }

      &:hover {
        border: 3px solid $brightYellow;
        background: $topaz;
        color: #333;
        -webkit-box-shadow: 0 8px 6px -6px black;
          -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;

      }
    }

    input.login, input.register {
      width: 80%;
      line-height: 45px;
      font-size: 26px;
      text-indent: 20px;
      margin-left: 20px;
      background: $white;
      border: 2px solid lightgrey;
      color: #A9A9A9;

      @include media(mobileLarge) {
        width: 70%;
      }

      @include media(mobile) {
        font-size: 20px;
        line-height: 30px;
      }
    }

    input.login {
      @include media(mobile) {
        width: 65%;
      }
    }

    input.register {

      @include media(mobile) {
        width: 70%;
        text-indent: 10px;
      }

    }

    li {
      margin: 15px auto 0 auto;
      height: 50px;
      width: 90%;
    }

    .modal-header {
      height: 40px;
      background: $brightYellow;
      color: $white;
      margin: 0;

      span.login-header {
        @include media(mobile) {
          display: none;
        }
      }

      span.register {
        @include media(mobile) {
          display: none;
        }
      }
    }

  }
}
