.modal {
  background: $white;
  width: 40%;
  margin: 0 auto;
  border: 5px solid $topaz;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;

  .modal-content {
    font-family: $rubik;
    height: 100%;

    img {
      height: 40px;
    }

    h3 {
      display: inline;
    }

    .close {
      float: right;
      border-radius: 50%;
      background: $brightYellow;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      font-size: 18px;
    }

    .submit {
      width: 80%;
      background: $brightYellow;
      border: none;
      height: 50px;
      font-size: 30px;
      margin: 30px 0 10px 50%;
      border-radius: 5px;
      transform: translateX(-50%);
    }

    input {
      width: 80%;
      line-height: 45px;
      font-size: 26px;
      text-indent: 20px;
      margin-left: 20px;
    }

    li {
      margin: 15px auto 0 auto;
      height: 50px;
      width: 70%;
    }

    .header {
      height: 40px;
      background: $brightYellow;
      color: $white;
      margin: 0;
    }

  }
}
