<div class="admin">

  <button class="update-admin-info submit-btn" ng-click="show=!show">Edit Admin Info</button>


  <form novalidate ng-hide="!show" name="update-info" id="update-info-form">
    New Admin Name: <input type="text" ng-model="this.name" />
    New Admin Password: <input type="password" ng-model="this.password" />
    Confirm New Admin Password: <input type="password" ng-model="this.password2" />
    <button class="submit-btn" type="submit" ng-click="admin.updateUser(this.name, this.password, this.password2)">Save</button>
  </form>
</div>
