<!-- MODALS -->
<div class='login modal' ng-controller='LoginController as login'>
    <div class='login modal-content'>
        <h3>Please Login</h3>
        <span class='close'>x</span>
        <form ng-submit='' name='loginForm'>
            <label for='username'>Username</label>
            <input type='text' value='username' ng-model='username'>
            <label for='password'>Password</label>
            <input type='password' value='password' ng-model='password'>
        </form>
    </div>
</div>

<!-- TO ADD INTO CLOUD TEMPLATE -->
  <!-- <div class='cloud x1'></div>
<div class='cloud x2'></div>
<div class='cloud x3'></div>
<div class='cloud x4'></div>
<div class='cloud x5'></div>
<div class='cloud x6'></div>
<div class='cloud x7'></div> -->

<!-- TO ADD INTO NIGHT TEMPLATE -->
<div class='space'></div>
