<!-- Login MODAL -->
<section class='login modal'>
    <div class='login modal-content'>
        <div class='modal-header'>
          <h3>Login <span class='login-header'>to Your Account</span></h3>
          <span class='close'>x</span></li>
        </div>
        <form name='loginForm' ng-submit='loginForm.$valid && checkLogin(user)'>
        <ul class='login-list'>
          <li><img class='user-icon' src='images/user_icon2.png'>
          <input class='login' type='text' name='user' ng-model='user' placeholder='username'></li>
          <li><img class='password-icon' src='images/password_icon.png'>
          <input class='login' type='password' ng-model='password' placeholder='password'></li>
        </ul>
        <button class='submit' type='submit'>Login</button>
        </form>
    </div>
</section>
