<!-- Register MODAL -->
<section class='register modal'>
    <div class='register modal-content'>
        <div class='modal-header'>
          <h3>Create an Account</h3>
          <span class='close'>x</span></li>
        </div>
        <form name='registerForm' ng-submit='registerForm.$valid && processForm(username, email, password)'>
        <ul class='register-list'>
          <li><img class='user-icon' src='images/user_icon2.png' alt='user icon'>
          <input class='register' name='username' type='text' ng-model='username' placeholder='username'></li>
          <li><img class='email-icon' src='images/email_icon.png' alt='email icon'>
          <input class='register' name='email' type='email' ng-model='email' placeholder='email address'></li>
          <li><img class='password-icon' src='images/password_icon.png' alt='password icon'>
          <input class='register' name='password' type='password' ng-model='password' placeholder='password'></li>
          <!-- <li><img class='confirm-icon' src='images/confirm_icon.png' alt='confirm password icon'>
          <input name='confirm-password' type='password' ng-model='password' placeholder='confirm password'></li> -->
        </ul>
        <button class='submit' type='submit' ng-disabled='registerForm.$invalid'>Create Account</button>
        </form>
    </div>
</section>
