<div class='register modal' ng-controller='RegisterController as register'>
  <div class='register modal-content'>
    <h3>Please Register</h3>
    <span class='close'>x</span>
    <form ng-submit='' name='registerForm'>
      <label>Email</label>
      <input type='email' ng-mode='email'>
      <label>Username</label>
      <input type='text' value='username' ng-model='username'>
      <label>Password</label>
      <input type='password' value='password' ng-model='password'>
    </form>
  </div>
</div>
